<div class="jumbotron text-center">
  <div class="container">
    <h1>Submission System</h1>
    <p>Access to Proposals</p>
    <div *ngIf="!(auth.user | async)">
      <button class="btn btn-success" (click)="googleLogin()">Login with Google</button><br>
      <button class="btn btn-success" (click)="facebookLogin()">Login with Facebook</button><br>
      <button class="btn btn-success" (click)="twitterLogin()">Login with Twitter</button><br>
      <button class="btn btn-success" (click)="githubLogin()">Login with Github</button>
    </div>
  </div>
</div>
